In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [8]:
data1 = pd.read_csv("InsuranceDataset.csv")

In [9]:
data1

,Area_Service,Hospital County,Hospital Id,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,"Home or self care,",...,Mortality risk,Surg_Description,Weight_baby,Abortion,Emergency dept_yes/No,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,4,Elective,Home or Self Care,...,1.0,Medical,0,N,Y,5511.95,5582.49,1.012798,1,1
1,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,4,Urgent,Short-term Hospital,...,2.0,Medical,0,N,Y,4783.20,5162.82,1.079365,1,1
2,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,3,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,3829.15,4056.52,1.059379,1,1
3,Western NY,Allegany,37.0,0 to 17,F,White,Not Span/Hispanic,1,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,1108.20,1644.75,1.484167,0,1
4,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,3,Elective,Home or Self Care,...,3.0,Medical,0,N,Y,3418.18,3370.87,0.986161,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,New York City,Bronx,1169.0,70 or Older,F,Other Race,Spanish/Hispanic,6,Emergency,Skilled Nursing Home,...,3.0,Medical,0,N,Y,69650.41,13896.82,0.199522,1,3
1048571,New York City,Bronx,1169.0,0 to 17,F,Other Race,Not Span/Hispanic,2,Emergency,Home or Self Care,...,1.0,Medical,0,N,N,13587.38,3918.35,0.288382,1,3
1048572,New York City,Bronx,1169.0,50 to 69,M,Other Race,Spanish/Hispanic,13,Emergency,Medicare Cert Long Term Care Hospital,...,4.0,Medical,0,N,Y,104629.78,24746.64,0.236516,0,3
1048573,New York City,Bronx,1169.0,30 to 49,F,Black/African American,Not Span/Hispanic,2,Emergency,Home or Self Care,...,1.0,Surgical,0,N,Y,27521.41,6766.04,0.245846,1,3
1048574,New York City,Bronx,1169.0,50 to 69,M,Other Race,Spanish/Hispanic,2,Emergency,Home or Self Care,...,1.0,Medical,0,N,Y,24832.23,4974.66,0.200331,1,2

In [11]:
data1.columns

Index(['Area_Service', 'Hospital County', 'Hospital Id', 'Age', 'Gender',
       'Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type',
       'Home or self care,', 'ccs_diagnosis_code', 'ccs_procedure_code',
       'apr_drg_description', 'Code_illness', 'Mortality risk',
       'Surg_Description', 'Weight_baby', 'Abortion', 'Emergency dept_yes/No',
       'Tot_charg', 'Tot_cost', 'ratio_of_total_costs_to_total_charges',
       'Result', 'Payment_Typology'],
      dtype='object')

In [12]:
data1.rename(columns={'Hospital County':'hospital_county','Hospital Id':'hospital_id','Home or self care,':'home_self_care','Mortality risk':'mortality_risk','Emergency dept_yes/No':'emergency_dept_yes_no'},inplace=True)

In [13]:
data1.columns

Index(['Area_Service', 'hospital_county', 'hospital_id', 'Age', 'Gender',
       'Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type',
       'home_self_care', 'ccs_diagnosis_code', 'ccs_procedure_code',
       'apr_drg_description', 'Code_illness', 'mortality_risk',
       'Surg_Description', 'Weight_baby', 'Abortion', 'emergency_dept_yes_no',
       'Tot_charg', 'Tot_cost', 'ratio_of_total_costs_to_total_charges',
       'Result', 'Payment_Typology'],
      dtype='object')

In [14]:
type(data1)

pandas.core.frame.DataFrame

In [15]:
data1.head()

,Area_Service,hospital_county,hospital_id,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,home_self_care,...,mortality_risk,Surg_Description,Weight_baby,Abortion,emergency_dept_yes_no,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,4,Elective,Home or Self Care,...,1.0,Medical,0,N,Y,5511.95,5582.49,1.012798,1,1
1,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,4,Urgent,Short-term Hospital,...,2.0,Medical,0,N,Y,4783.20,5162.82,1.079365,1,1
2,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,3,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,3829.15,4056.52,1.059379,1,1
3,Western NY,Allegany,37.0,0 to 17,F,White,Not Span/Hispanic,1,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,1108.20,1644.75,1.484167,0,1
4,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,3,Elective,Home or Self Care,...,3.0,Medical,0,N,Y,3418.18,3370.87,0.986161,1,1

In [17]:
data1.shape

(1048575, 24)

In [18]:
data1.describe()

,hospital_id,ccs_diagnosis_code,ccs_procedure_code,Code_illness,mortality_risk,Weight_baby,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
count,1.046119e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048533e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,6.529400e+02,1.987936e+02,9.723249e+01,2.051806e+00,1.748955e+00,2.935512e+02,2.708697e+04,1.046399e+04,4.565822e-01,7.499769e-01,1.935755e+00
std,6.711577e+02,1.652839e+02,8.732697e+01,9.145785e-01,9.864236e-01,9.494631e+02,5.487428e+04,2.230366e+04,8.029246e-01,4.330263e-01,7.717916e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,3.100000e-01,1.000000e-01,3.312909e-02,0.000000e+00,1.000000e+00
25%,2.130000e+02,1.080000e+02,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,7.402500e+03,3.234570e+03,3.135802e-01,0.000000e+00,1.000000e+00
50%,6.300000e+02,1.590000e+02,9.000000e+01,2.000000e+00,1.000000e+00,0.000000e+00,1.458988e+04,5.928480e+03,4.091384e-01,1.000000e+00,2.000000e+00
75%,9.770000e+02,2.180000e+02,1.740000e+02,3.000000e+00,3.000000e+00,0.000000e+00,2.914547e+04,1.134317e+04,5.192548e-01,1.000000e+00,3.000000e+00
max,9.250000e+03,6.700000e+02,2.310000e+02,4.000000e+00,4.000000e+00,9.000000e+03,6.196974e+06,2.562478e+06,1.575596e+02,1.000000e+00,5.000000e+00

In [19]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   Area_Service                           1046119 non-null  object
 1   hospital_county                        1046119 non-null  object
 2   hospital_id                            1046119 non-null  float64
 3   Age                                    1048575 non-null  object
 4   Gender                                 1048575 non-null  object
 5   Cultural_group                         1048575 non-null  object
 6   ethnicity                              1048575 non-null  object
 7   Days_spend_hsptl                       1048575 non-null  object
 8   Admission_type                         1048575 non-null  object
 9   home_self_care                         1048575 non-null  object
 10  ccs_diagnosis_code                     1048575 non-null  int64
 11  ccs_procedure_code                     1048575 non-null  int64
 12  apr_drg_description                    1048575 non-null  object
 13  Code_illness                           1048575 non-null  int64
 14  mortality_risk                         1048533 non-null  float64
 15  Surg_Description                       1048575 non-null  object
 16  Weight_baby                            1048575 non-null  int64
 17  Abortion                               1048575 non-null  object
 18  emergency_dept_yes_no                  1048575 non-null  object
 19  Tot_charg                              1048575 non-null  float64
 20  Tot_cost                               1048575 non-null  float64
 21  ratio_of_total_costs_to_total_charges  1048575 non-null  float64
 22  Result                                 1048575 non-null  int64
 23  Payment_Typology                       1048575 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 192.0+ MB

In [22]:
data1_columns=['Area_Service', 'hospital_county', 'hospital_id', 'Age', 'Gender','Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type','home_self_care', 'ccs_diagnosis_code', 'ccs_procedure_code','apr_drg_description', 'Code_illness', 'mortality_risk','Surg_Description', 'Weight_baby', 'Abortion', 'emergency_dept_yes_no','Tot_charg', 'Tot_cost', 'ratio_of_total_costs_to_total_charges','Result', 'Payment_Typology']

In [25]:
for i in data1_columns:
   print(len(data1[i].unique()))

8
52
144
5
3
4
3
120
6
19
262
230
316
5
5
3
70
2
2
869659
766537
987065
2
5

In [27]:
data1.isnull().sum()

Area_Service                             2456
hospital_county                          2456
hospital_id                              2456
Age                                         0
Gender                                      0
Cultural_group                              0
ethnicity                                   0
Days_spend_hsptl                            0
Admission_type                              0
home_self_care                              0
ccs_diagnosis_code                          0
ccs_procedure_code                          0
apr_drg_description                         0
Code_illness                                0
mortality_risk                             42
Surg_Description                            0
Weight_baby                                 0
Abortion                                    0
emergency_dept_yes_no                       0
Tot_charg                                   0
Tot_cost                                    0
ratio_of_total_costs_to_total_charges       0
Result                                      0
Payment_Typology                            0
dtype: int64

In [29]:
#filling missing values with Mode 
data1['Area_Service'] = data1['Area_Service'].fillna(data1['Area_Service'].mode()[0])
data1['hospital_county'] = data1['hospital_county'].fillna(data1['hospital_county'].mode()[0])
#filling Hospital Id missing values with Median 
data1['hospital_id'] = data1['hospital_id'].fillna(data1['hospital_id'].median())
data1["mortality_risk"].fillna(0,inplace=True)

In [31]:
data1.isnull().sum()

Area_Service                             0
hospital_county                          0
hospital_id                              0
Age                                      0
Gender                                   0
Cultural_group                           0
ethnicity                                0
Days_spend_hsptl                         0
Admission_type                           0
home_self_care                           0
ccs_diagnosis_code                       0
ccs_procedure_code                       0
apr_drg_description                      0
Code_illness                             0
mortality_risk                           0
Surg_Description                         0
Weight_baby                              0
Abortion                                 0
emergency_dept_yes_no                    0
Tot_charg                                0
Tot_cost                                 0
ratio_of_total_costs_to_total_charges    0
Result                                   0
Payment_Typology                         0
dtype: int64

In [35]:
##Delete duplicate values

In [32]:
data1.duplicated(keep='first').sum()

4814

In [33]:
data1.drop_duplicates(keep='first',inplace=True)
data1.duplicated(keep='first').sum()

0

In [34]:
data1.shape

(1043761, 24)